<!DOCTYPE html>
<html ng-app="GarrisonButlerApp">
<head>
    <meta charset="utf-8" />
    <title>GarrisonButler</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>
    <script src="https://cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>


    <script src="./Libraries/SmartTable/smart-table.min.js"></script>
    <script src="./Libraries/slider/slider.js"></script>
    <script src="./Libraries/angular-xeditable/js/xeditable.min.js"></script>

    <script src="./mainUI.js"></script>
    <script src="./Modules/general-tab.module.js"></script>
    <script src="./Modules/work-order-tab.module.js"></script>
    <script src="./Modules/profession-tab.module.js"></script>
    <script src="./Modules/mailing-tab.module.js"></script>
    <script src="./Modules/milling-tab.module.js"></script>
    <script src="./Modules/trading-post.module.js"></script>
    <script src="./Modules/missions-tab.module.js"></script>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">

    <link rel="stylesheet" href="./Libraries/angular-xeditable/css/xeditable.css" />
    <link rel="stylesheet" href="./mainUI.css" />


    <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    <script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>

</head>
<body>
<div ng-controller="MainController">
    <!--
            BEGIN: App-Loading Screen.
            --
            Until the AngularJS application code is loaded and bootstrapped, this is just
            "static HTML." Meaning, the [class-based] directive, "mAppLoading", won't
            actually do anything until the application is initialized. As such, we'll give
            it just enough CSS to "fail open"; then, when the AngularJS app loads, the
            directive will run and we'll remove this loading screen.

            NOTES ON ANIMATION:

            When the AngularJS application is loaded and starts bootstrapping, all
            animations are disabled until all the routing information and templating
            information is loaded AND at least two digests have run (in order to prevent
            a flurry of animation activity). As such, we can't animate the root of the
            directive. Instead, we have to add "ngAnimateChildren" to the root element
            and then animate the inner container. The "ngAnimateChildren" directive allows
            us to override the animation-blocking within the bounds of our directive, which
            is fine since it only runs once.
        -->
    <div class="m-app-loading" ng-animate-children>

        <!--
            HACKY CODE WARNING: I'm putting Style block inside directive so that it
            will be removed from the DOM when we remove the directive container.
        -->
        <style type="text/css">

            div.m-app-loading {
                position: fixed ;
            }

            div.m-app-loading div.animated-container {

                background-color: #333333 ;
                bottom: 0px ;
                left: 0px ;
                opacity: 1.0 ;
                position: fixed ;
                right: 0px ;
                top: 0px ;
                z-index: 999999 ;
            }

            /* Used to initialize the ng-leave animation state. */
            div.m-app-loading div.animated-container.ng-leave {
                opacity: 1.0 ;
                transition: all linear 200ms ;
                -webkit-transition: all linear 200ms ;
            }

            /* Used to set the end properties of the ng-leave animation state. */
            div.m-app-loading div.animated-container.ng-leave-active {
                opacity: 0 ;
            }

            div.m-app-loading div.messaging {
                color: #FFFFFF ;
                font-family: monospace ;
                left: 0px ;
                margin-top: -37px ;
                position: absolute ;
                right: 0px ;
                text-align: center ;
                top: 50% ;
            }

            div.m-app-loading h1 {
                font-size: 26px ;
                line-height: 35px ;
                margin: 0px 0px 20px 0px ;
            }

            div.m-app-loading p {
                font-size: 18px ;
                line-height: 14px ;
                margin: 0px 0px 0px 0px ;
            }

        </style>


        <!-- BEGIN: Actual animated container. -->
        <div class="animated-container">

            <div class="messaging">

                <h1>
                    GarrisonButler is loading...
                </h1>

            </div>

        </div>
        <!-- END: Actual animated container. -->

    </div>
    <!-- END: App-Loading Screen. -->

    <tabset>

        <tab heading="GarrisonButler">
               <md-content>
                    <md-card>

                        <md-card-content>
                            <div layout="row">
                                <div style="max-width: 350px; text-align: center;">
                                    <img src="http://i.imgur.com/5YLK4Ik.png" width="200px">
                                </div>
                                <h1 style="padding-left: 30px; padding-top: 20px;">Change Log</h1>
                            </div>
                        </md-card-content>
                    </md-card>


                   <md-card>
                       <md-card-content>
                           <h2>Version 2.4.6.0</h2>
                           <lu>
                               <li>Fix active follower count <= 20</li>
                           </lu>
                       </md-card-content>
                   </md-card>

                   <md-card>
                       <md-card-content>
                           <h2>Version 2.4.5.0</h2>
                           <lu>
                               <li>Added fix for UI not refreshing priorities order.</li>
                               <li>Save settings before HBRelog skip</li>
                               <li>Refresh building in shipment routine because it was using stale values.  Fixes bug where work orders weren't getting started</li>
                           </lu>
                       </md-card-content>
                   </md-card>
                   <md-card>
                       <md-card-content>
                           <h2>Version 2.4.2.0</h2>
                           <lu>
                               <li>Added fix for UI not refreshing priorities for missions' rewards.</li>
                               <li>Added currency tooltips.</li>
                               <li>Added behavior enhancement: Don't start Garrison Resource missions if it will put the player over the cap</li>
                               <li>Can use up to 5 Miner's Coffee</li>
                               <li>Fixed bot getting stuck when there are more than 20 active followers</li>
                           </lu>
                       </md-card-content>
                   </md-card>
                   <md-card>
                       <md-card-content>
                           <h2>Version 2.3.3.0</h2>
                           <lu>
                               <li>Added fix for UI not refreshing priorities for missions' rewards.</li>
                           </lu>
                       </md-card-content>
                   </md-card>

                   <md-card>
                       <md-card-content>
                           <h2>Version 2.3.2.0</h2>
                           <lu>
                               <li>Added fix for UI not allowing 0 as a value in mailing tab.</li>
                               <li>Improved Change Log UI</li>
                           </lu>
                       </md-card-content>
                   </md-card>


                   <md-card>
                        <md-card-content>
                            <h2>Version 2.3.0.0</h2>
                            <lu>
                                <li>Added options in Missions settings. Check them out! :D</li>
                                <li>Added description for default settings in Missions</li>
                                <li>Replaced drag and drop to set the priority of rewards, will now have to fill a text box with the number.</li>
                                <li>Fix incorrect work order getting stuckbug</li>
                                <li>Upped timer time for cached action to 15 seconds from 10seconds to fix yoyo bug in mine between ores and carts.</li>
                                <li>Added UI design enhancements</li>
                            </lu>
                        </md-card-content>
                    </md-card>


                    <md-card>
                        <md-card-content>
                            <h2>Version 2.1.17.0</h2>
                            <lu>
                                <li>Added fix for work orders settings not loading correctly</li>
                            </lu>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <h2>Version 2.1.16.0</h2>
                            <lu>
                                <li>Added fix for milling only flytrap</li>
                            </lu>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <h2>Version 2.1.15.0</h2>
                            <lu>
                                <li>Added fix for mail options not sticking.</li>
                            </lu>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <h2>Version 2.1.14.0</h2>
                            <lu>
                                <li>Changed "Vendor" Reward action to 9</li>
                                <li>Added "None" Reward action as 0</li>
                                <li>Fix more mission bugs with Max Level Followers and not honoring Disallowed Mission Rewards</li>
                            </lu>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <h2>Version 2.1.14.0</h2>
                            <lu>
                                <li>Changed "Vendor" Reward action to 9</li>
                                <li>Added "None" Reward action as 0</li>
                                <li>Fix more mission bugs with Max Level Followers and not honoring Disallowed Mission Rewards</li>
                            </lu>
                        </md-card-content>
                    </md-card>
                </md-content>
        </tab>


        <tab heading="General options">
            <md-content  ng-controller="GeneralOptionsController">
                <md-button class="md-raised" ng-click='selectAll(true)'>Select All</md-button>
                <md-button class="md-raised" ng-click='selectAll(false)'>Select None</md-button>
                <md-list>
                    <div layout="row" layout-wrap>
                        <md-item ng-repeat="item in items" ng-controller="switchController" ng-init="init(item)">
                            <md-item-content flex="30">
                                <accordion class="sectionBackground" close-others="oneAtATime">
                                    <div layout="row" class="general-option-header">
                                        <switch id="enabled" name="enabled" ng-model="item.value" class="green"></switch>
                                        <div class="md-tile-content general-item-title">
                                            <h3>
                                                <b>{{item.label}}</b>
                                            </h3>
                                        </div>
                                    </div>
                                    <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        More info
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <p>
                                        {{item.description}}
                                    </p>
                                </accordion-group>
                                </accordion>
                            </md-item-content>
                        </md-item>

                        <md-item ng-if="!isIceVersion()" ng-repeat="item in itemsLite" ng-controller="switchController" ng-init="init(item)">
                            <md-item-content flex="30">
                                <accordion class="sectionBackground" close-others="oneAtATime">
                                    <div layout="row" class="general-option-header">
                                        <switch id="enabled" name="enabled" ng-model="item.value" class="green"></switch>
                                        <div class="md-tile-content general-item-title">
                                            <h3>
                                                <b>{{item.label}}</b>
                                            </h3>
                                        </div>
                                    </div>
                                    <accordion-group is-open="status.open">
                                        <accordion-heading>
                                            More info
                                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                        </accordion-heading>
                                        <p>
                                            {{item.description}}
                                        </p>
                                    </accordion-group>
                                </accordion>
                            </md-item-content>
                        </md-item>
                    </div>
                </md-list>
            </md-content>
        </tab>


        <tab heading="Work Orders">
            <div ng-controller=buildingsListController>
                <div layout="column">
                    <div layout="row">
                        <md-button class="md-raised" ng-click='startAll(true)'>Start All</md-button>
                        <md-button class="md-raised" ng-click='startAll(false)'>Start none</md-button>
                    </div>
                    <div layout="row">
                        <md-button class="md-raised" ng-click='collectAll(true)'>Collect All</md-button>
                        <md-button class="md-raised" ng-click='collectAll(false)'>Collect none</md-button>
                    </div>
                </div>
                <h2>Building's Available</h2>
                <md-content>
                    <md-list layout="row" layout-wrap>
                        <md-item ng-repeat="building in itemsAvailable">
                            <md-item-content>
                                <section class="sectionBackground-work-order" layout="row" ng-controller="buildingController" ng-init="init(building)">
                                    <div class="md-tile-content-orders">
                                        <div layout="column">
                                            <div layout="row" layout-align="start center">
                                                <div class="md-title-content">
                                                    <h3 style="vertical-align: middle;"><b>{{building.name}}</b></h3>
                                                </div>
                                            </div>
                                            <div layout="column" style="margin-left: 4px; margin-top: 4px;">
                                                <div layout="row">
                                                    <switch ng-model="building.canStartOrder" aria-label="Switch-{{nameNoSpaces}}" class="green"></switch>
                                                    <p>Start Orders</p>
                                                </div>
                                                <div layout="row">
                                                    <switch id="enabled" name="enabled" ng-model="building.canCollectOrder" class="green"></switch>
                                                    <p>Collect Orders</p>
                                                </div>
                                            </div>
                                            <div layout="row" style="width: 300px;">
                                                <h3 style="margin-left: 4px;">Max: </h3>
                                                <slider style="margin-left: 20px;" floor="0" ceiling="100" step="1" precision="1" ng-model="building.maxCanStartOrder"></slider>
                                                <input style="width:62px;height: 35px" ng-init="$scope.$apply();" type="number" ng-model="building.maxCanStartOrder" aria-label="red" aria-controls="{{nameNoSpaces}}-slider" min="0" max="50">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </md-content>

                <h2>Building's not Available</h2>
                <md-content>
                <md-list layout="row" layout-wrap>
                    <md-item ng-repeat="building in itemsNotAvailable">
                        <md-item-content>
                            <section class="sectionBackground-work-order" layout="row" ng-controller="buildingController" ng-init="init(building)">
                                <div class="md-tile-content-orders">
                                    <div layout="column">
                                        <div layout="row" layout-align="start center">
                                            <div class="md-title-content">
                                                <h3 style="vertical-align: middle;"><b>{{building.name}}</b></h3>
                                            </div>
                                        </div>
                                        <div layout="column" style="margin-left: 4px; margin-top: 4px;">
                                            <div layout="row">
                                                <switch ng-model="building.canStartOrder" aria-label="Switch-{{nameNoSpaces}}" class="green"></switch>
                                                <p>Start Orders</p>
                                            </div>
                                            <div layout="row">
                                                <switch id="enabled" name="enabled" ng-model="building.canCollectOrder" class="green"></switch>
                                                <p>Collect Orders</p>
                                            </div>
                                        </div>
                                        <div layout="row" style="width: 300px;">
                                            <h3 style="margin-left: 4px;">Max: </h3>
                                            <slider style="margin-left: 20px;" floor="0" ceiling="100" step="1" precision="1" ng-model="building.maxCanStartOrder"></slider>
                                            <input style="width:62px;height: 35px" ng-init="$scope.$apply();" type="number" ng-model="building.maxCanStartOrder" aria-label="red" aria-controls="{{nameNoSpaces}}-slider" min="0" max="50">
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
            </div>
        </tab>


        <tab heading="Professions">
            <div ng-controller="professionsListController">
                <div class="tab-intro">
                    <h2>Daily Profession CDs</h2>
                </div>
                <md-button class="md-raised" ng-click='selectAll(true)'>Select All</md-button>
                <md-button class="md-raised" ng-click='selectAll(false)'>Select None</md-button>
                <table st-table="Professions" class="table">
                    <thead>
                    <tr>
                        <th st-sort="activated">Enabled</th>
                        <th st-sort="profession" st-sort-default>Profession</th>
                        <th st-sort="name">Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in Professions">
                        <td cs-select="row">
                            <div ng-controller="dailyController" ng-init="init(row)">
                                <switch id="enabled" name="enabled" ng-model="row.activated" class="green"></switch>
                            </div>
                        </td>
                        <td>{{row.profession}}</td>
                        <td>
                            <a ng-href='http://www.wowhead.com/item={{ row.itemId || "empty" }}'>{{ row.itemId || "empty" }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>

        <tab heading="Mailing" ng-if="isIceVersion()">
            <div ng-controller="mailingListController">
                <div class="tab-intro">
                    <h2>Mailing Engine</h2>
                </div>

                <div layout="row" class="general-option-header">
                    <switch id="enabled" name="enabled" ng-model="retrieveMail" class="green"></switch>
                    <div class="md-tile-content general-item-title">
                        <h3>
                            <b>Retrieve Mail</b>
                        </h3>
                    </div>
                </div>

                <div layout="row" class="general-option-header">
                    <switch id="enabled" name="enabled" ng-model="sendMail" class="green"></switch>
                    <div class="md-tile-content general-item-title">
                        <h3>
                            <b>Send Mail</b>
                        </h3>
                    </div>
                </div>

                <div layout="row" class="general-option-header">
                    <switch id="enabled" name="enabled" ng-model="sendGreen" class="green"></switch>
                    <div class="md-tile-content general-item-title">
                        <h3>
                            <b>Send Disenchantable Green</b>
                        </h3>
                        <div>
                            <div>
                                Recipient for disenchantable green:
                            </div>
                            <a href="#" editable-text="recipientGreen">{{ recipientGreen || 'empty' }}</a>
                        </div>
                    </div>
                </div>


                <button class="btn btn-default" ng-click="addRow()">Add item</button>

                <table st-table="mailItems" class="table">
                    <thead>
                    <tr>
                       <!-- <th st-sort="activated">Enabled</th> -->
                        <th st-sort="itemId" st-sort-default>Item ID</th>
                        <th st-sort="recipient">Recipient</th>
                        <th st-sort="condition">Condition</th>
                        <th st-sort="value">Value</th>
                        <th st-sort="comment">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in mailItems">
                       <!-- <td>
                            <switch id="enabled" name="enabled" ng-model="row.activated" class="green"></switch>
                        </td> -->
                        <td>
                            <!-- editable itemId (text with validation) -->
                            <span editable-text="row.itemId" e-name="itemId" e-form="rowform" onbeforesave="checkItemId($data, row)" e-required>
                                <a ng-href='http://www.wowhead.com/item={{ row.itemId || "empty" }}'>{{ row.itemId || "empty" }}</a>
                            </span>
                        </td>
                        <td>
                            <!-- editable recipient (text with validation) -->
                            <span editable-text="row.recipient" e-name="recipient" e-form="rowform" onbeforesave="checkEmpty($data)" e-required>
                              {{ row.recipient || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <!-- editable status (select-local) -->
                            <span editable-select="row.condition" e-name="condition" e-form="rowform" onbeforesave="checkEmpty($data)" e-ng-options="s for s in conditions" e-required>
                              {{ row.condition }}
                            </span>
                        </td>
                        <td>
                            <!-- editable value (text with validation) -->
                            <span editable-text="row.value" e-name="value" e-form="rowform" onbeforesave="checkEmptyInt($data)" e-required>
                              {{ row.value || 'empty' }}
                            </span>
                        </td>
                        <td>
                            <!-- editable comment (text with validation) -->
                            <span editable-text="row.comment" e-name="comment" e-form="rowform">
                              {{ row.comment || 'empty' }}
                            </span>
                        </td>
                        <td style="white-space: nowrap">
                            <!-- form -->
                            <form editable-form name="rowform" onaftersave="saveMailToCSharp($data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                    save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                    cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                <button class="btn btn-danger" ng-click="removeRow(row)">del</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>


        <tab heading="Milling"  ng-if="isIceVersion()">
            <div ng-controller="millingListController">
                <div class="tab-intro">
                    <h2>Milling Engine</h2>
                </div>
                <md-button class="md-raised" ng-click='selectAll(true)'>Select All</md-button>
                <md-button class="md-raised" ng-click='selectAll(false)'>Select None</md-button>
                <table st-table="MillingItems" class="table">
                    <thead>
                    <tr>
                        <th st-sort="activated">Enabled</th>
                        <th st-sort="name" st-sort-default>Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in MillingItems">
                        <td cs-select="row">
                            <div ng-controller="millingController" ng-init="init(row)">
                                <switch id="enabled" name="enabled" ng-model="row.activated" class="green"></switch>
                            </div>
                        </td>
                        <td>
                            <a ng-href='http://www.wowhead.com/item={{ row.itemId || "empty" }}' class="q3"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Trading Post">
            <div ng-controller="tradingPostListController">
                <div class="tab-intro">
                    <h2>Trading Post Reagents</h2>
                </div>
                <md-button class="md-raised" ng-click='selectAll(true)'>Select All</md-button>
                <md-button class="md-raised" ng-click='selectAll(false)'>Select None</md-button>
                <table st-table="TradingReagents" class="table">
                    <thead>
                    <tr>
                        <th st-sort="activated">Enabled</th>
                        <th st-sort="name" st-sort-default>Item</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in TradingReagents">
                        <td cs-select="row">
                            <div ng-controller="tradingController" ng-init="init(row)">
                                <switch id="enabled" name="enabled" ng-model="row.activated" class="green"></switch>
                            </div>
                        </td>
                        <td>
                            <a ng-href='http://www.wowhead.com/item={{ row.itemId || "empty" }}' class="q3"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>


         <!--Missions rewards tab-->
        <tab heading="Missions"  ng-if="isIceVersion()">
        <div ng-controller="missionsListController">
        <div class="tab-intro">
        <h1>Missions Engine</h1>
        </div>


            <table st-table="MissionRewards" class="table">
                <thead>
                <tr>
                    <th class="column"><h2>Default settings</h2></th>
                    <th><h2>Value</h2></th>
                </tr>
                </thead>

                <tr ng-repeat="row in MissionGeneralOptions">
                    <td>
                        <div ng-controller="MissionOptionController" ng-init="init(row)">
                            <accordion close-others="oneAtATime">
                                <accordion-group is-open="status.open">
                                    <accordion-heading>
                                        {{ row.label }}
                                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                    </accordion-heading>
                                    <p>
                                        {{row.description}}
                                    </p>
                                </accordion-group>
                            </accordion>
                        </div>
                    </td>
                    <td ng-if="row.variableType === 'bool'">
                        <switch id="enabled" name="enabled" ng-model="row.val" class="green"></switch>
                    </td>
                <td ng-if="row.variableType === 'int'">
                    <slider style="margin-left: 20px;width: 300px;" floor="0" ceiling="100" step="1" precision="1"
                            ng-model="row.val"></slider>
                    <input style="width:50px;height: 27px" ng-init="$scope.$apply();" type="number"
                           ng-model="row.val" aria-label="red" aria-controls="{{nameNoSpaces}}-slider"
                           min="0" max="100">
                </td>
                </tr>
            </table>


            <h1>Detailed settings</h1>
            <p>Here you can decide the priority of categories and specific items.</p>
            <p>You can sort the data by clicking on the columns' headers.</p>
            <ul>
                <li><b>Priority:</b> The priority with which to treat rewards. 0 is better than 10.</li>
                <li><b>Disallowed:</b> Will not allow a mission with this reward to be started EVER. </li>
                <li><b>Player level:</b> The minimum lvl of character to consider this reward. </li>
                <li><b>Mission level:</b> The minimum lvl of the mission to consider this reward. </li>
                <li><b>Custom Success chances:</b> If enabled, this will override for this reward the success chance set by default.</li>
            </ul>
        <table st-table="MissionRewards" class="table">
        <thead>
        <tr>
            <th>Priority</th>
            <th>Name</th>
            <th>Category</th>
            <th>Disallowed</th>
            <th>Player Level</th>
            <th>Mission Level</th>
            <th>Custom Success chances</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in MissionRewards" ng-controller="missionRewardController"  ng-init="init(row)">
                <td>

                    <span editable-text="row.priorityList" onbeforesave="prepUpdateList(row)" onaftersave="updateList(row)">
                    {{ row.priorityList }}
                    </span>
                </td>

            <td>
            <div>
                <p ng-if="row.isCategory"><b>Category</b> - {{row.rewardName}}</p>
                <div ng-if="!row.isCategory">
                    <a ng-if="canWowheadItem(row)" ng-href='http://www.wowhead.com/item={{ row.rewardId || "empty" }}' class="q2"></a>
                    <a ng-if="canWowheadCurrency(row)" ng-href='http://www.wowhead.com/currency={{ row.rewardId || "empty" }}' class="icontiny q1"></a>
                    <p ng-if="!canWowhead(row)">{{row.rewardName}}</p>
                </div>
            </div>
            </td>

            <td>
                {{row.rewardCategory}}
            </td>

            <td>

                <switch id="enabled" name="enabled" ng-model="row.disallowReward" class="green"></switch>
            </td>

            <td>
                <!-- editable value (text with validation) -->
                <span editable-text="row.playerLevel"  onaftersave="updateReward(row)">
                {{ row.playerLevel }}
                </span>
            </td>

            <td>
                <!-- editable value (text with validation) -->
                <span editable-text="row.missionLevel"  onaftersave="updateReward(row)">
                {{ row.missionLevel }}
                </span>
            </td>

            <td>
                <div layout="row" style="width: 500px;">
                <switch id="enabled" name="enabled" ng-model="row.individualSuccessEnabled" class="green"></switch>
                    <!-- editable value (text with validation) -->
                <span editable-text="row.successChance">
                {{ row.successChance }}%
                </span>
                </div>
            </td>
        </tr>
        </tbody>
        </table>
        </div>


        </tab>

    </tabset>
</div>
</body>
</html>