<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GarrisonButler</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />


    <script src="./libraries/Angular/angular.min.js"></script>
    <script src="./libraries/Angular/angular-route.min.js"></script>
    <script src="./libraries/MobileAngularUI/js/mobile-angular-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>
    <script src="http://cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="./libraries/SmartTable/smart-table.min.js"></script>

    <script src="./test.js"></script>
    <script src="./general-tab/general-tab.module.js"></script>
    <script src="./general-tab/profession-tab.module.js"></script>
    <script src="./general-tab/work-order-tab.module.js"></script>
    <script src="./general-tab/Mailing-tab.module.js"></script>
    <script src="./general-tab/milling-tab.module.js"></script>

    <link rel="stylesheet" href="./test.css" />
    <link rel="stylesheet" href="./libraries/MobileAngularUI/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="./libraries/MobileAngularUI/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="./libraries/MobileAngularUI/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">

</head>
<body ng-app="GarrisonButlerApp">
    <div class="app" ng-controller="mainController">
        <div class='app-body'>
            <div class='app-content'>
                <!--TABS-->
                        <div ng-controller="AppCtrl" class="tabsdemoStaticTabs">
                            <md-tabs class="md-accent" md-selected="data.selectedIndex">
                                <md-tab id="tab1" aria-controls="tab1-content">
                                    General
                                </md-tab>
                                <md-tab id="tab2" aria-controls="tab2-content">
                                    Work Orders
                                </md-tab>
                                <md-tab id="tab3" aria-controls="tab3-content">
                                    Professions
                                </md-tab>
                                <md-tab id="tab4" aria-controls="tab4-content">
                                    Mailing
                                </md-tab>
                                <md-tab id="tab5" aria-controls="tab5-content">
                                    Milling
                                </md-tab>
                                <md-tab id="tab6" aria-controls="tab6-content">
                                    Trading Post
                                </md-tab>
                            </md-tabs>

                            <!--Tab 1-->
                                <ng-switch on="data.selectedIndex">
                                    <div role="tabpanel"
                                         id="tab1-content"
                                         aria-labelledby="tab1"
                                         ng-switch-when="0"
                                         md-swipe-left="next()"
                                         md-swipe-right="previous()">
                                        <!-- List of switches -->
                                        <div class="scrollable">
                                        <div class="scrollable-content">
                                            <div ng-controller=switchListController>
                                                <div class="tab-intro">
                                                    <h2>General options</h2>
                                                    <p>
                                                        Quisque elementum tristique lectus sit amet aliquet.
                                                        Vivamus varius leo ut dui suscipit auctor.
                                                        Vestibulum in ante lorem. Nulla iaculis ut ligula sed finibus. Morbi tincidunt risus id dictum commodo.
                                                        Suspendisse ultricies pharetra turpis, eu commodo ligula.
                                                    </p>
                                                </div>
                                                <md-content>
                                                    <md-list>
                                                        <div layout="row" layout-wrap>
                                                        <md-item class="sectionBackground" ng-repeat="item in items" ng-controller="switchController" ng-init="init(item)" flex="20">
                                                            <md-item-content>
                                                                    <div class="building-icon-medium">
                                                                        <ins ng-style="'{{item.displayicon}}' != '' && {'background-image':'url({{item.displayicon}})'}"></ins>
                                                                        <del></del>
                                                                        <a href="javascript:;"></a>
                                                                    </div>
                                                                    <div class="ng-scope-slider-with-icon">
                                                                        <ui-switch ng-model="value" ng-change="save()"></ui-switch>
                                                                        <!--<md-switch ng-model="value" aria-label="Switch 1" class="switch md-custom-green" ng-change="save()"></md-switch>-->
                                                                    </div>
                                                                    <div class="md-tile-content general-item-title">
                                                                        <h3>
                                                                            <b>{{item.label}}</b>
                                                                        </h3>
                                                                    </div>
                                                                    <md-button class="md-primary md-fab info-button" md-theme="green">

                                                                        <md-tooltip md-visible="demo.showTooltip" class="modal-info">
                                                                            <div class="modal-info-general">
                                                                                {{item.description}}
                                                                            </div>
                                                                        </md-tooltip>
                                                                        + Info
                                                                    </md-button>
                                                            </md-item-content>
                                                        </md-item>
                                                        </div>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                        </div>
                                            </div>
                                    </div>



                            <!-- Tab 2 -->
                                    <div role="tabpanel"
                                         id="tab2-content"
                                         aria-labelledby="tab2"
                                         ng-switch-when="1"
                                         md-swipe-left="next()"
                                         md-swipe-right="previous()">
                                        <!-- List of switches -->
                                        <div class="scrollable-content">
                                            <div ng-controller=buildingsListController>
                                                <div class="tab-intro">
                                                    <h2>Building's Work Orders</h2>
                                                    <p>
                                                        Quisque elementum tristique lectus sit amet aliquet.
                                                        Vivamus varius leo ut dui suscipit auctor.
                                                        Vestibulum in ante lorem. Nulla iaculis ut ligula sed finibus. Morbi tincidunt risus id dictum commodo.
                                                        Suspendisse ultricies pharetra turpis, eu commodo ligula.
                                                    </p>
                                                </div>
                                                <md-content>
                                                    <md-list layout="row" layout-wrap>
                                                        <md-item ng-repeat="building in items">
                                                            <md-item-content>
                                                                <section class="sectionBackground" layout="row" ng-controller="buildingController" ng-init="init(building)" flex="33">
                                                                    <div class="md-tile-content-orders">
                                                                        <div layout="column">
                                                                            <div layout="row" layout-align="start center">
                                                                                <div class="building-icon-medium">
                                                                                    <ins ng-style="'{{displayicon}}' != '' && {'background-image':'url({{displayicon}})'}"></ins>
                                                                                    <del></del>
                                                                                    <a href="javascript:"></a>
                                                                                </div>
                                                                                <div class="md-title-content">
                                                                                    <h3 style="vertical-align: middle;"><b>{{name}}</b></h3>
                                                                                </div>
                                                                            </div>
                                                                            <!--<div layout="row">-->
                                                                            <div layout="column" style="margin-left: 4px; margin-top: 4px;">
                                                                                <md-checkbox ng-model="CanStartOrder" class="md-checkbox-no-margin" ng-change="save()">
                                                                                    Start Orders
                                                                                </md-checkbox>
                                                                                <md-checkbox ng-model="CanCollectOrder" class="md-checkbox-no-margin" ng-change="save()">
                                                                                    Collect Orders
                                                                                </md-checkbox>
                                                                            </div>
                                                                            <div layout="row" layout-align="start center">
                                                                                <div layout layout-align="start center" style="margin-left: 4px;">
                                                                                    <h3>Max: </h3>
                                                                                </div>
                                                                                <md-slider ng-model="maxCanStartOrder" id="{{nameNoSpaces}}-slider" style="width: 200px; margin-left: 20px; margin-right: 20px;" step="1" min="0" max="50" aria-label="red">
                                                                                </md-slider>
                                                                                <div layout layout-align="start center">
                                                                                    <input type="number" style="width: 40px; margin-left: 8px" ng-model="maxCanStartOrder" aria-label="red" aria-controls="{{nameNoSpaces}}-slider" min="0" max="50">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </md-item-content>
                                                        </md-item>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                        </div>
                                    </div>




                            <!-- Tab 3 -->

                                    <div role="tabpanel"
                                         id="tab3-content"
                                         aria-labelledby="tab3"
                                         ng-switch-when="2"
                                         md-swipe-left="next()"
                                         md-swipe-right="previous()">
                                        <div ng-controller="professionsListController">
                                            <div class="tab-intro">
                                                <h2>Daily Profession CDs</h2>
                                                <p>
                                                    Quisque elementum tristique lectus sit amet aliquet.
                                                    Vivamus varius leo ut dui suscipit auctor.
                                                    Vestibulum in ante lorem. Nulla iaculis ut ligula sed finibus. Morbi tincidunt risus id dictum commodo.
                                                    Suspendisse ultricies pharetra turpis, eu commodo ligula.
                                                </p>
                                            </div>
                                            <table st-table="rowCollection" class="table">
                                                <thead>
                                                <tr>
                                                    <th st-sort="activated">Enabled</th>
                                                    <th st-sort="profession" st-sort-default>Profession</th>
                                                    <th st-sort="name">Item</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
                                                    <td cs-select="row">{{row.activated}}</td>
                                                    <td>{{row.profession}}</td>
                                                    <td>{{row.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>


                                    <!-- Tab 4 -->
                                    <div role="tabpanel"
                                         id="tab4-content"
                                         aria-labelledby="tab4"
                                         ng-switch-when="3"
                                         md-swipe-left="next()"
                                         md-swipe-right="previous()">

                                        <div ng-controller="mailingListController">
                                            <div class="tab-intro">
                                                <h2>Mailing Engine</h2>
                                                <p>
                                                    Quisque elementum tristique lectus sit amet aliquet.
                                                    Vivamus varius leo ut dui suscipit auctor.
                                                    Vestibulum in ante lorem. Nulla iaculis ut ligula sed finibus. Morbi tincidunt risus id dictum commodo.
                                                    Suspendisse ultricies pharetra turpis, eu commodo ligula.
                                                </p>
                                                <button type="button" ng-click="addRow(row)" class="btn btn-sm btn-success">
                                                    Add new item
                                                </button>
                                            </div>
                                            <table st-table="rowCollection" class="table">
                                                <thead>
                                                <tr>
                                                    <th st-sort="itemId" st-sort-default>Item ID</th>
                                                    <th st-sort="recipient">Recipient</th>
                                                    <th st-sort="condition">Condition</th>
                                                    <th st-sort="value">Threshold</th>
                                                    <th st-sort="comment">Comment</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="row in rowCollection">
                                                    <td>{{row.itemId}}</td>
                                                    <td>{{row.recipient}}</td>
                                                    <td>{{row.condition}}</td>
                                                    <td>{{row.value}}</td>
                                                    <td>{{row.comment}}</td>
                                                    <td>
                                                        <button type="button" ng-click="editRow(row)" class="btn btn-sm btn-default">
                                                            Edit
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button type="button" ng-click="removeRow(row)" class="btn btn-sm btn-danger">
                                                            Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <!-- Tab 5 -->
                                    <div role="tabpanel"
                                         id="tab5-content"
                                         aria-labelledby="tab5"
                                         ng-switch-when="4"
                                         md-swipe-left="next()"
                                         md-swipe-right="previous()">
                                        <div ng-controller="millingListController">
                                            <div class="tab-intro">
                                                <h2>Milling Engine</h2>
                                                <p>
                                                    Quisque elementum tristique lectus sit amet aliquet.
                                                    Vivamus varius leo ut dui suscipit auctor.
                                                    Vestibulum in ante lorem. Nulla iaculis ut ligula sed finibus. Morbi tincidunt risus id dictum commodo.
                                                    Suspendisse ultricies pharetra turpis, eu commodo ligula.
                                                </p>
                                            </div>
                                            <table st-table="rowCollection" class="table">
                                                <thead>
                                                <tr>
                                                    <th st-sort="activated">Enabled</th>
                                                    <th st-sort="name">Item</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in rowCollection">
                                                    <td cs-select="row">{{row.activated}}</td>
                                                    <td>{{row.name}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>                                    </div>

                                    <!-- Tab 5 -->
                                    <div role="tabpanel"
                                         id="tab6-content"
                                         aria-labelledby="tab5"
                                         ng-switch-when="5"
                                         md-swipe-left="next()"
                                         md-swipe-right="previous()">
                                        TAB 6
                                    </div>
                                </ng-switch>

                            </div>
                            </div>

                    </div>
                </div>
    <!-- Modals and Overlays -->
    <div ui-yield-to="modals"></div>

</body>

<div ui-content-for="modals">

</div>

</html>