<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>GarrisonButler</title>
    <script src="./Libraries/Angular/angular.min.js"></script>
    <script src="./Libraries/Angular/angular-route.min.js"></script>
    <script src="./Libraries/MobileAngularUI/js/mobile-angular-ui.min.js"></script>
    <script src="http://cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-touch.js"></script>
    <link rel="stylesheet" href="./test.css" />
    <link rel="stylesheet" href="./Libraries/MobileAngularUI/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="./Libraries/MobileAngularUI/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="./Libraries/MobileAngularUI/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/0.7.0/angular-material.min.js"></script>
    <script src="./test.js"></script>
</head>
<body ng-app="GarrisonButlerApp">
    <div class="app" ng-controller="mainController">
        <div class='app-body'>
            <div class='app-content'>
                <!--TABS-->
                <div class="scrollable">
                    <div ng-controller="AppCtrl" class="tabsdemoStaticTabs">
                        <md-tabs class="md-accent" md-selected="data.selectedIndex">
                            <md-tab id="tab-general" aria-controls="tab1-content">
                                General
                            </md-tab>
                            <md-tab id="tab-work" aria-controls="tab2-content">
                                Work Orders
                            </md-tab>
                            <md-tab id="tab-profession" aria-controls="tab3-content">
                                Professions
                            </md-tab>
                            <md-tab id="tab-mailing" aria-controls="tab4-content"
                                    ng-disabled="data.mailingLocked">
                                Mailing
                            </md-tab>
                        </md-tabs>
                        <!--Tab 1-->
                        <ng-switch on="data.selectedIndex" class="tabpanel-container">
                            <div role="tabpanel"
                                 id="tab1-content"
                                 aria-labelledby="tab1"
                                 ng-switch-when="0"
                                 md-swipe-left="next()"
                                 md-swipe-right="previous()">
                                <!-- List of switches -->
                                <div class="scrollable-content">
                                    <div ng-controller=switchListController>
                                        <md-content>
                                            <md-list>
                                                <md-item ng-repeat="item in items">
                                                    <md-item-content>
                                                        <div class="" ng-controller="switchController" ng-init="init(item)">
                                                            <!-- <ui-switch ng-model="value" ng-change="save()"></ui-switch>-->
                                                            <md-switch ng-model="value" aria-label="Switch 1" class="md-custom-green" ng-change="save()"></md-switch>
                                                        </div>
                                                        <div class="md-tile-content">
                                                            <h3>
                                                                <b>{{item.label}}</b>
                                                            </h3>
                                                            <p>
                                                                {{item.description}}
                                                            </p>
                                                        </div>
                                                    </md-item-content>
                                                </md-item>
                                            </md-list>
                                        </md-content>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel"
                                 id="tab2-content"
                                 aria-labelledby="tab2"
                                 ng-switch-when="1"
                                 md-swipe-left="next()"
                                 md-swipe-right="previous()">
                                <div ng-controller=buildingsListController>
                                    <div layout="column">
                                        <div ng-repeat="building in items">
                                            <div layout="row" ng-controller="buildingController" ng-init="init(building)" layout-align="start center" layout-wrap>
                                                <div class="building-name" flex="20">
                                                    <h3>{{name}}</h3>
                                                </div>
                                                <div layout="column" class="building-options">
                                                    <div class="building-options-option">
                                                        <md-switch ng-model="CanStartOrder" aria-label="Switch 1" class="md-warn" ng-change="save()">
                                                            <div>CanStartOrder</div>
                                                        </md-switch>
                                                    </div>
                                                    <div class="building-options-option">
                                                        <md-switch ng-model="CanCollectOrder" aria-label="Switch 2" class="md-warn" ng-change="save()">
                                                            <div>CanCollectOrder</div>
                                                        </md-switch>
                                                    </div>
                                                </div>
                                                <div class="slider-building" flex="60">
                                                    <h3>Max running: {{maxCanStartOrder}}</h3>
                                                    <md-slider md-discrete ng-model="maxCanStartOrder" step="1" min="0" max="50" aria-label="rating">
                                                    </md-slider>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel"
                                 id="tab3-content"
                                 aria-labelledby="tab3"
                                 ng-switch-when="2"
                                 md-swipe-left="next()"
                                 md-swipe-right="previous()">
                                <div ng-controller="professionsListController">
                                    <div layout="column">
                                        <div layout="row" ng-repeat="daily in items">
                                            <div class="daily-profession-name">
                                                <h3>{{daily.professionName}}</h3>
                                            </div>
                                            <div class="daily-name">
                                                <h3>{{daily.name}}</h3>
                                            </div>
                                            <md-switch ng-controller="dailyController" ng-model="activated" aria-label="Switch 1" class="md-warn" ng-change="save()">
                                            </md-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel"
                                 id="tab4-content"
                                 aria-labelledby="tab4"
                                 ng-switch-when="3"
                                 md-swipe-left="next()"
                                 md-swipe-right="previous()">
                                View for Item #4<br />
                                data.selectedIndex = 3
                            </div>
                        </ng-switch>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modals and Overlays -->
    <div ui-yield-to="modals"></div>
</body>
</html>